 #char-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-wrap: wrap;
    gap: 20px;
}

#char-selection img {
    width: 120px;
    height: 150px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s;
}

#char-selection img:hover {
    transform: scale(2.2);
}


#selected-character {
    position: relative;
    width: 180px;
    height: 205px;
    object-fit: contain;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    transition: opacity 0.5s, transform 0.5s;
    margin: 0%;

}


 body {
    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("img/dark-fantasy-scene.jpg") ;
    text-align: center;
    font-size: x-large;
 }

.pergamena {
    background-image: url("img/Pergamena-Board_hhhhh.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90vw;
    max-height: 600px;
    max-width: 1600px;
    aspect-ratio: 5 / 4;      
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, max-content); 
    grid-template-rows: repeat(5, max-content);   
    justify-content: center;   
    align-content: center;     
    gap: 5px;         
    position: relative;         
    padding-top: 0%; 
}



.card {
    width: 90px;               
    height: auto;  
    max-width: 100px;  /* calc((90vw - 4 * 5px) / 4); */
    /* max-height: calc((90vw * 4 / 5 - 3 * 5px) / 4);  */

    object-fit: contain;    
    cursor: pointer;
    transition: transform 0.6s; 
    transform-style: preserve-3d;
}

.card.flipped {
    transform: rotateY(180deg);
}

#restart-btn {
    position: relative;
    bottom: 3%;         
    background-image: url("img/RESTART-Button.png"); 
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;    
    height: 100px;         
    /* aspect-ratio: 1200 / 180;   */
    background-color: transparent;
    border: none;
    cursor: pointer; 
    display: flex;
    flex-wrap: wrap;
}


#victory-screen {
    size: 25%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.95);
    display: none;                 
    justify-content: center;
    align-items: center;
    z-index: 9999;                 
}

#victory-screen img {
    width: 40vw;
    max-width: 600px;
    object-fit: contain;
    animation: appearVictory 0.8s ease-out;
}

@keyframes appearVictory {
    from { transform: scale(0.5); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}



@media (min-width: 600px) {
    .pergamena {
        background-image: url("img/Pergamena-Board.png");
        grid-template-columns: repeat(5, max-content); 
        grid-template-rows: repeat(4, max-content);
    }

    .card {
        width: 100px; 
    }

    #restart-btn {
        background-size: 15%;
    }

    #restart-btn:hover {
        background-size: 20%;
    }
}

@media (min-width: 1080px) {
    .pergamena {
        /* background-image: url("img/Pergamena-Board.png"); 
        grid-template-columns: repeat(5, max-content); 
        grid-template-rows: repeat(4, max-content);*/
    }

    #restart-btn {
        background-size: 7%;
    }

    #restart-btn:hover {
        background-size: 10%;
    }
}
